/**
 * Dashboard
 *
 * @author Cornelius Hansjakob <cha@massiveart.com>
 * @version 1.0
 */
 
/* ----------------
Main Structure */

#navigation-left {
  width:440px;
  position:relative;
  height:100%;
}

#navigation-left #divNaviLeftInner {
  overflow-y:auto;
}

#navigation-left #divNaviLeftMain {
  font-size:12px;
  color:#333;
  font-weight:normal;
}

#divNaviLeft-dbrd {
  background-color:#e4e4e4;
  position:absolute;
  z-index:20;
  bottom:15px;
  left:10px;
  width:420px;
  top:5px;
}

#divNaviLeft-dbrd .formtitle {
  padding:10px 10px 20px 10px;
}

#divNaviLeft-dbrd #buttonsave {
  float:right;
  margin:0 20px 20px 0;
}

#divNaviLeft-dbrd .button25centerOn div {
  font-weight:normal;
  text-align:center;
  float:none;
}

.field .fieldoverflowcontainer {
  height:122px;
  border-right:1px solid #ccc;
}

.conwrapper .contact {
  min-height:50px;
  max-height:100px; 
  overflow:hidden;
  overflow-y:auto;
}

.editboxfields.busy {
  padding:40px 0 40px 0;
}

/* ----------------
Navigtion left */

#navilefttop-dbrd {
  position:absolute;
  left:10px;
  top:0;
  bottom:auto;
  background-color:#e4e4e4;
  width:415px;
  height:5px;
}

#navilefttop-dbrd img {
  display:block;
  width:5px;
  height:5px;
}

#navileftbottom-dbrd {
  position:absolute;
  left:10px;
  top:auto;
  width:415px;
  height:5px;
  bottom:10px;
  background-color:#e4e4e4;
}

#navileftbottom-dbrd img {
  display:block;
  width:5px;
  height:5px;
}

/* ----------------
Navigtion right */

#navirighttop-dbrd {
  background-color:#e4e4e4;
  position:absolute;
  right:10px;
  top:0;
  width:5px;
  height:5px;
}

#navirighttop-dbrd img {
  display:block;
  width:5px;
  height:5px;
}

#navirightbottom-dbrd {
  background-color:#e4e4e4;
  position:absolute;
  right:10px;
  z-index:30;
  bottom:10px;
  width:5px;
  height:5px;
}

#navirightbottom-dbrd img {
  display:block;
  width:5px;
  height:5px;
  float:right;
}

/* ----------------
Overlay User */

.olnavigationwrapper {
  height:150px;
}

.olnavigationwrapper2 {
  overflow:hidden;
}

.contenthead {
  height:10px !important;
  background:#ccc !important;
}

.olcontentwrapper {
  overflow:hidden;
  padding:0 0 26px 0;
  background-color:#fff;
  min-height:214px;
}

.olcontacttopitemtitle {
  width:398px;
}

.olfiletopitemtitle {
  width:356px;
}

.olfilebottomcenter {
  width:408px;
}

.olcontactbottomcenter {
  width:408px;
}

.olcontactitemcontainer {
  overflow:hidden;
  overflow-y:scroll;
  min-height:348px;
  height:348px;
  width:430px;
}

.olcontentwrapper .olcontactitemcontainer {
  height:188px;
  min-height:188px;
}

.olcontactbottom {
  position:absolute;
  bottom:0;
  left:0;
  z-index:50;
}

.contactitem {
  margin:0;
  cursor:default;
}

.contactitem .olcontactitemtitle {
  width:285px;
  padding-right:0;
  height:auto;
  padding-bottom:5px;
  white-space: normal;
}

.contactitem .olcontactright {
  display:none;
}

.noMail {
  color:#ccc;
}

.olcontactitemtitle span {
  font-size:11px;
}

/* ----------------
Overlay Pages, Globals, ... */

#dbrdOverlayTitle {
  float:left;
  line-height:25px;
}

#olBack {
  float:right;
  padding:13px 0 0 0;
  cursor:pointer;
}

#olModules {
  position: absolute; 
  top: 0; 
  width:430px; 
  height:400px;
}

#olRootLevels {
  position: absolute; 
  top: 0; 
  width:430px; 
  height:400px;
}

.elementitem {
  cursor: default;
  margin: 0;
}

.elementitem .olpageitemtitle,
.elementitem .olfileitemtitle {
  width:245px;
}

/* ----------------
Content */

.tabNavContainer {
  background-color:transparent;
  padding-left:60px;
  z-index:30;
}

.widgetcontenttop, 
#widgetcontentlefttop,
#widgetcontentrighttop {
  background-color:#666;
}

.box-dbrd {
  padding-left:10px;
}

.box-dbrd .cornertl, 
.box-dbrd .cornertr, 
.box-dbrd .cornerbl, 
.box-dbrd .cornerbr {
  background-image: url("/zoolu-statics/images/main/nav_inner_corners.png");
}

.box-dbrd .cornertl {
  background-color:#fff;
  background-position: 0 0;
  float: left;
  font-size: 0;
  height: 4px;
  width: 4px;
}

.box-dbrd .cornertr {
  background-color:#fff;
  background-position: -4px 0;
  float: right;
  font-size: 0;
  height: 4px;
  width: 4px;
}

/* ----------------
Dashboard Entries */

#dbrdEntries {
  bottom: 0;
  left: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 40px;
  z-index:20;
  padding:0 10px 0 0;
}

#dbrdEntries .empty {
  font-size:28px;
  color:#fff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity:0.4;
  opacity:0.4;
  line-height: 40px;
  padding:40px 0 40px 0;
  text-align:center;
  font-weight:bold;
}

#dbrdEntries #is_loading {  
  height:40px;
  padding:40px 0 40px 0;
  text-align:center;
}

#dbrdEntries .section {
  background-color: #FFFFFF;
  margin:10px 0 10px 0;
  overflow: hidden; 
  position:relative;
  z-index:10; 
  width:100%;
}

#dbrdEntries .checked {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity:0.8;
  opacity:0.8;
}

#dbrdEntries .props {
  position:absolute;
  right:20px;
  top:25px;
  z-index:15;
}

#dbrdEntries .props .icon {
  background:url(/zoolu-statics/images/icons/icon_edit.png) no-repeat 0 0;
  width:12px;
  height:12px;
  cursor:pointer;
  /*position: absolute;
  z-index: 50;
  right:0;
  top:0;*/
}

#dbrdEntries .props .content {
  font-size:11px;
  background-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 40;
  right:0;
  top:-7px;
  width:100px;
}

#dbrdEntries .props .content .inner {
  padding:5px;
}

#dbrdEntries .section .entry {
  padding: 20px 20px 10px 20px;
}

#dbrdEntries .section .entry .img {
  float: left;
  padding: 0 10px 0 0;
  position: relative;
  width: 40px;
  z-index: 10;
}

#dbrdEntries .section .entry .img.default {
  border:1px solid #efefef;
  padding: 0;
  margin:0 8px 0 0;
}

#dbrdEntries .activityStatus {
  float:left; 
  padding:22px 0 0 10px;
}

#dbrdEntries .activityStatus.busy {
  background-image: url(/zoolu-statics/images/main/loader_small_white.gif);
  background-repeat: no-repeat;
  background-position: 13px 23px;
}

#dbrdEntries .busy input,
#dbrdEntries .busy label {
  visibility: hidden;
}

#dbrdEntries .activityStatus label {
  font-size:11px;
  line-height:20px;
  margin:0 0 0 3px;
  color:#999;
}

#dbrdEntries .activity {
  padding:0 0 0 80px;
}

#dbrdEntries .checked .activity {
  padding:0 0 0 6px;
  height:85px;
  overflow:hidden;
}

#dbrdEntries .img .status {

}

#dbrdEntries .message {
  margin-left: 50px;
  position: relative;
  z-index: 10;
}

#dbrdEntries .message .inner {
  width:100%;
}

#dbrdEntries .author {
  float: left;
  font-size: 11px;
  line-height: 15px;
  padding: 5px 0 5px 0;
}

#dbrdEntries .recipientsContainer.busy {
  background-image: url(/zoolu-statics/images/main/loader_small_white.gif);
  background-repeat: no-repeat;
  background-position: center center;
  height:30px;
  width:20px;
  float:left;
  margin-left:20px;
}

#dbrdEntries .recipients {
  background: url("/zoolu-statics/images/main/pointer-long-right.gif") no-repeat scroll 10px center transparent;
  float: left;
  height: 30px;
  margin: 0 0 10px 10px;
  padding: 0 0 0 40px;
}

#dbrdEntries .recipients div {
  float: left;
  height: 30px;
  margin: 0 10px 0 0;
  width: 30px;
}

#dbrdEntries .recipients div.default {
  border:1px solid #efefef;
}

#dbrdEntries .recipients div.more {
  border: 0;
  color: #999;
  font-size: 11px;
  height: 15px;
  margin: 0;
  padding: 15px 0 0 0;
  white-space: nowrap;
  width: auto;
}

#dbrdEntries .text {
  float: left;
}

#dbrdEntries .text .headline {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

#dbrdEntries .text p {
  padding: 0 0 10px;
  font-size:12px;
  line-height:20px;
}

#dbrdEntries .info {
  color: #999999;
  font-size: 11px;
  line-height: 15px;
}

#dbrdEntries .info abbr {

}

/* attachments */

#dbrdEntries .attach {
  padding:0 20px 0 70px;
}

#dbrdEntries .attach.busy {
  background-image: url(/zoolu-statics/images/main/loader_small_white.gif);
  background-repeat: no-repeat;
  background-position: center center;
  height:30px;
}

#dbrdEntries .attach .item {
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
  border-top: 1px dotted #ccc;
}

#dbrdEntries .attach .icon {
  float: left;
  height: 16px;
  width: 16px;
  margin:2px 7px 2px 7px;
}

#dbrdEntries .attach .unit {
  background:none;
  border-left: 1px solid #CCCCCC;
  color: #999999;
  font-size:12px;;
  line-height:20px;
  margin-left: 30px;
  padding: 0 20px 0 9px;
  position: relative;
  z-index: 10;
}

/* comments */

#dbrdEntries .commentsContainer.busy {
  background-image: url(/zoolu-statics/images/main/loader_small_white.gif);
  background-repeat: no-repeat;
  background-position: center center;
  height:30px;
}

#dbrdEntries .comments {
  border-top: 1px solid #ccc;
  margin:0 20px 0 50px;
  padding:0;
}

#dbrdEntries .comments .show {
  font-size: 11px;
  line-height: 20px;
  margin: 10px 0 10px 20px;
}

#dbrdEntries .comments .entry {
  padding:10px 0 10px 0;
  border-top: 1px dotted #ccc;
  margin:0 0 0 20px;
}

#dbrdEntries .comments .entry.first {
  border-top: 0;
}

#dbrdEntries .comments .entry .img {
  float: left;
  padding: 0 10px 0 0;
  width:30px;
  height:30px;
}

#dbrdEntries .comments .entry .img.default {
  border:1px solid #efefef;
  padding:0;
  margin: 0 8px 0 0;
}

#dbrdEntries .comments .message {
  margin-left: 40px;
  position: relative;
  z-index: 10;
}

#dbrdEntries .comments .author {
  font-size: 11px;
  line-height: 20px;
  padding-right: 5px;
}

#dbrdEntries .comments .info {
  float:left;
  line-height:20px;
  padding:5px 0 5px 0;
}

#dbrdEntries .comments span {
  font-size:12px;
  line-height:20px;
}

/* write a comment */

#dbrdEntries .write {
  border-top: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  margin: 0 20px 0 50px;
}

#dbrdEntries .write div.commentBox {
  background-color: #fff;
  border: 1px solid #ccc;
  /*min-height: 15px;*/
  padding: 4px;
}

#dbrdEntries .write input {
  background: none;
  border: 0;
  color: #999;
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 15px;
  line-height: 15px;
  padding: 0;
  margin:0;
  width: 100%;
}

#dbrdEntries .write textarea {
  background: none;
  border: 0;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  padding: 0;
  resize: vertical;
  width: 100%;
}

#dbrdEntries .write .save {
  margin:10px 0 0 0;
  padding: 0 0 0 0;
}

#dbrdEntries .write .buttonsave {
  cursor:pointer;
  float:right;
}

#dbrdEntries .write .button25centerOn div {
  float:none;
  text-align:center;
}

/* section corners */

#dbrdEntries .section .cornertl, 
#dbrdEntries .section .cornertr, 
#dbrdEntries .section .cornerbl, 
#dbrdEntries .section .cornerbr {
  background-image: url("/zoolu-statics/images/main/content_inner_corners.png");
  background-color: #fff;
  font-size: 0;
  height: 4px;
  width: 4px;
}

#dbrdEntries .section .cornertl {
  background-position: 0 0;
  float: left;
}

#dbrdEntries .section .cornertr {
  background-position: -4px 0;
  float: right;  
}

#dbrdEntries .section .cornerbl {
  background-position: 0 4px;
  float: left;  
}

#dbrdEntries .section .cornerbr {
  background-position: 4px 4px;
  float: right; 
}

/* other */

label.missing {
  color: #cc0000 !important;
}

input.missing {
  border:2px solid #cc0000 !important;
}