<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Background Desgin - relativ</title>  
  
  <style type="text/css">
  	body {
		  background: #FFF 0 0;
		  color: #333;
		  font-family: Arial, Sans-Serif;
		  font-size: 20px;
		  font-weight: normal;
		  line-height: 15px;
		  text-align: left;
		  letter-spacing: normal;  
		}
		div#background {
			width:  20em;
			height: 5em;
		}
		div#background img {
			width:  20em;
			height: 5em;
		}
		div#content {
			position: absolute;
			width:  20em;
			height: 5em;
		}
	</style>
    
</head>

<body>

<div id="content">Hier steht irgendwas</div>
<div id="background"><img src="/website/themes/default/images/tmp/unicorn.gif" /></div>  

</body>
</html>