<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
  <title>Template Detail</title>
  <!-- css -->    
  <link rel="stylesheet" type="text/css" media="screen" href="/website/themes/default/css/screen.css"></link>
  <!-- js --> 
</head>
<body>
  <!-- Header Section -->
  <div class="wrapper header">
    <div class="subwrapper">
      <div class="inner">
        <div class="divLogo">Logospace</div>
	      <div class="divSlogan">Slogan Platzhalter</div>
	      <div class="divLangs">
	        <ul>
	          <li><a href="#">English</a></li>
	          <li><a href="#">Deutsch</a></li>
	          <li><a href="#">Franz&ouml;sisch</a></li>
	        </ul>
	      </div>
	      <div class="divSearch">
	       <input type="text" name="iptSearch" id="iptSearch" value="Suche"/>
	      </div>
      </div>
    </div>
  </div>
  <!-- Main Navigation Section -->
  <div class="wrapper nav">
    <div class="subwrapper">
      <div class="inner">
        <ul>
	        <li><a href="/website/themes/default/templates/html/index.html">Home</a></li>
	        <li><a class="selected" href="/website/themes/default/templates/html/overview.html">Unternehmen</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Produkt</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Dienstleistungen</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Sonstiges</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Aktuelles</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Kontakt</a></li>
	      </ul>
	      <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- Content Section -->
  <div class="wrapper content">
    <div class="subwrapper">
      <div class="inner detail">        
        <!-- Sub Navigation -->
        <div class="divSubNavContainer">
          <ul>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a class="selected" href="#">Seite Ebene 1</a>
              <ul>
                <li><a class="selected" href="#">Seite Ebene 2</a>
                  <ul>
                    <li><a href="#">Seite Ebene 3</a></li>
                    <li><a href="#">Seite Ebene 3</a></li>
                    <li><a href="#">Seite Ebene 3</a></li>  
                  </ul>
                </li>
                <li><a href="#">Seite Ebene 2</a></li>
                <li><a href="#">Seite Ebene 2</a></li>
                <li><a href="#">Seite Ebene 2</a></li>
                <li><a href="#">Seite Ebene 2</a></li>
              </ul>
            </li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>            
          </ul>
        </div>
        
        <!-- Main Content -->
        <div class="divContentContainer">
	        <h1>Lorem ipsum dolor</h1>	        
          <div class="divImgLeft"><img src="/website/themes/default/images/tmp/blank220x.gif" alt="Lorem ipsum dolor" title="Lorem ipsum dolor"/></div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          
          
          <div class="divTextBlock">
            <h2>Textblock 1</h2>
            <div class="divImgLeft">
              <img title="" alt="" src="/website/themes/default/images/tmp/blank220x.gif"/>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <br/>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <div class="clear"></div>
          </div>
          
          <div class="divTextBlock">
            <h2>Textblock 2</h2>
            <div class="divImgLeft">
              <img title="" alt="" src="/website/themes/default/images/tmp/blank220x.gif"/>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <br/>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <div class="clear"></div>
          </div>
          
          <div class="divImageGallery">
            <h3>Bildergalerie</h3>                
            <div class="divGallery">
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif" title="">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif" title="">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="divGalleryItem">
                <a rel="lightbox[pics]" href="/website/themes/default/images/tmp/blank80x80.gif">
                  <img title="" alt="" src="/website/themes/default/images/tmp/blank80x80.gif"/>
                </a>
              </div>
              <div class="clear"></div>
            </div>                
            <div class="clear"></div>
          </div>
          
          <div class="divDocuments">
            <h3>Dokumente</h3>                
            <div class="divDocItem">
              <div class="divDocIcon"><img title="Adressen der Trainer" alt="Adressen der Trainer" src="/website/themes/default/images/icons/icon_xls.gif"/></div>
              <div class="divDocInfos">
                <a target="_blank" href="#">Adressen der Trainer</a><br/>
                <span>Format:</span> <span>xls</span> <span>Größe:</span> <span>21 KB</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="divDocItem">
              <div class="divDocIcon"><img title="Ausschreibung" alt="Ausschreibung" src="/website/themes/default/images/icons/icon_doc.gif"/></div>
              <div class="divDocInfos">
                <a target="_blank" href="#">Ausschreibung</a><br/>
                <span>Format:</span> <span>doc</span> <span>Größe:</span> <span>29184 KB</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="divDocItem">
              <div class="divDocIcon"><img title="Vorträge online" alt="Vorträge online" src="/website/themes/default/images/icons/icon_pdf.gif"/></div>
              <div class="divDocInfos">
                <a target="_blank" href="#">Vorträge online</a><br/>
                <span>Format:</span> <span>pdf</span> <span>Größe:</span> <span>43082 KB</span>
              </div>
              <div class="clear"></div>
            </div>               
            <div class="clear"></div>
          </div>
	        
	        <div class="clear"></div>        
        </div>
        <!-- @end main content -->
        
        <!-- Content Sidebar --> 
        <div class="divContentSidebar">           
          <div class="divContactContainer">
            <h3>Ihr Ansprechpartner</h3>
            <p>Haben Sie Fragen zu diesem Artikel? Wir freuen uns von ihnen zu h&ouml;ren. Ihre Kontaktperson ist:</p>
            <div class="divContactPerson">
              <div class="divContactName">Mag. Vorname Nachname</div>
              <div class="divContactFunc">Funktion/Position</div>
              <div class="divContactDetail">
                <div class="divContactImg"><img title="Vorname Nachname" alt="Vorname Nachname" src="/website/themes/default/images/contact_default.gif"/></div>
                <div class="divContactInfos">
                  T +43 (0) 5574 / 12 34 5-0<br/>
                  F +43 (0) 5574 / 12 34 5-100<br/>
                  M +43 (0) 699 / 12 34 567<br/>
                  <a href="mailto:#">E-Mail senden</a>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>         
            
            <div class="clear"></div>
          </div>                     
          <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
      </div>  
    </div>
  </div>
  <!-- Footer Section -->
  <div class="wrapper footer">
    <div class="subwrapper">
      <div class="inner">
        <div class="divFooterLeft">&copy; 2009 Firmenname</div>
	      <div class="divFooterRight">
	        <ul>
	          <li><a href="#">Links</a></li>
	          <li><a href="#">Kontakt</a></li>
	          <li><a href="#">Impressum</a></li>
	        </ul>
	      </div>
	      <div class="clear"></div>
      </div>      
    </div>
  </div>
  
  <!-- Grid 12 -->
  <div id="divGrid12" style="display:none;">
    <div class="grid" style="left:0;">&nbsp;</div>
    <div class="grid" style="left:80px;">&nbsp;</div>
    <div class="grid" style="left:160px;">&nbsp;</div>
    <div class="grid" style="left:240px;;">&nbsp;</div>
    <div class="grid" style="left:320px;;">&nbsp;</div>
    <div class="grid" style="left:400px;">&nbsp;</div>
    <div class="grid" style="left:480px;">&nbsp;</div>
    <div class="grid" style="left:560px;">&nbsp;</div>
    <div class="grid" style="left:640px;">&nbsp;</div>
    <div class="grid" style="left:720px;">&nbsp;</div>
    <div class="grid" style="left:800px;">&nbsp;</div>
    <div class="grid" style="left:880px;">&nbsp;</div>
  </div>
</body>
</html>