<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Default Grid Desgin - relativ</title>
  
  <!-- css -->    
  <link rel="stylesheet" type="text/css" media="screen" href="/website/themes/default/css/grid.css"/>
    
</head>

<body>

<div class="wrapper">

<!-- @start, Header Section -->
<div class="headerContainer">	
 	<div class="content">
 		<h1>Header</h1>
 	</div><!-- /.content -->   
</div><!-- /.headerContainer -->
<!-- @end, Header Section -->

<!-- @start, Content Section -->
<div class="contentContainer">
	<div class="subnavi">
		<h1>Subnav</h1>
	</div><!-- /.subnavi -->
	<div class="content">
		<p>relative Einheit = font-size: 12px</p>
		<h1>Headline 1</h1>
		<h2>Headline 2</h2>
		<h3>Headline 3</h3>
		<h4>Headline 4</h4>
	</div><!-- /.content -->
	<div class="sidebar">
		<h1>Sidebar</h1>
	</div><!-- /.sidebar -->
	<div class="clear"></div>   
</div><!-- /.contentContainer -->
<!-- @end, Content Section -->

<!-- @start, Carousell -->
<div class="carousellContainer">
 	<div class="content">
 		<h1>Carousell</h1>
 	</div><!-- /.content -->   
</div><!-- /.carousellContainer -->
<!-- @end, Carousell -->
        
<!-- @start, Footer -->
<div class="footerContainer">
 	<div class="content">
 		<h1>Footer</h1>			
 	</div><!-- /.content -->   
</div><!-- /.footerContainer -->
<!-- @end, Footer -->
    
<div class="clear"></div>
    
</div>   

</body>
</html>