<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
  <title>&Uuml;bersicht</title>
  <!-- css -->    
  <link rel="stylesheet" type="text/css" media="screen" href="/website/themes/default/css/screen.css"></link>
  <!-- js --> 
</head>
<body>
  <!-- Header Section -->
  <div class="wrapper header">
    <div class="subwrapper">
      <div class="inner">
        <div class="divLogo">Logospace</div>
	      <div class="divSlogan">Slogan Platzhalter</div>
	      <div class="divLangs">
	        <ul>
	          <li><a href="#">English</a></li>
	          <li><a href="#">Deutsch</a></li>
	          <li><a href="#">Franz&ouml;sisch</a></li>
	        </ul>
	      </div>
	      <div class="divSearch">
	       <input type="text" name="iptSearch" id="iptSearch" value="Suche"/>
	      </div>
      </div>
    </div>
  </div>
  <!-- Main Navigation Section -->
  <div class="wrapper nav">
    <div class="subwrapper">
      <div class="inner">
        <ul>
	        <li><a href="/website/themes/default/templates/html/index.html">Home</a></li>
	        <li><a class="selected" href="/website/themes/default/templates/html/overview.html">Unternehmen</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Produkt</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Dienstleistungen</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Sonstiges</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Aktuelles</a></li>
	        <li><a href="/website/themes/default/templates/html/overview.html">Kontakt</a></li>
	      </ul>
	      <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- Content Section -->
  <div class="wrapper content">
    <div class="subwrapper">
      <div class="inner overview">        
        <!-- Sub Navigation -->
        <div class="divSubNavContainer">
          <ul>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a class="selected" href="#">Seite Ebene 1</a>
              <ul>
                <li><a class="selected" href="#">Seite Ebene 2</a>
                  <ul>
                    <li><a href="#">Seite Ebene 3</a></li>
                    <li><a href="#">Seite Ebene 3</a></li>
                    <li><a href="#">Seite Ebene 3</a></li>  
                  </ul>
                </li>
                <li><a href="#">Seite Ebene 2</a></li>
                <li><a href="#">Seite Ebene 2</a></li>
                <li><a href="#">Seite Ebene 2</a></li>
                <li><a href="#">Seite Ebene 2</a></li>
              </ul>
            </li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>
            <li><a href="#">Seite Ebene 1</a></li>            
          </ul>
        </div>
        
        <!-- Main Content -->
        <div class="divContentContainer">
	        <h1>Lorem ipsum dolor</h1>
	        <div class="divContentIntro">
	          <div class="divImgLeft"><img src="/website/themes/default/images/tmp/blank220x.gif" alt="Lorem ipsum dolor" title="Lorem ipsum dolor"/></div>
	          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
	          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
	          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
	          <div class="clear"></div>
	        </div>
	        
	        <div class="clear"></div>	        	        
	        
	        <!-- Overview -->
	        <div class="divContentOverview">
	          <!-- 1-spaltig mit Bild -->
		        <h3>1-spaltig mit Bild</h3>
		        <div class="divContentItem">
		          <h2><a href="#">Wenn ich gross bin</a></h2>    
		          <div class="divImgLeft"><a href="#"><img title="Wenn ich gross bin" alt="Wenn ich gross bin" src="/website/themes/default/images/tmp/blank80x80.gif"/></a></div>
		          <p>Ich bin nur ein kleiner Blindtext. Wenn ich gross bin, will ich Ulysses von James Joyce werden. 
		          Aber jetzt lohnt es sich noch nicht, mich weiterzulesen. Denn vorerst bin ich nur ein kleiner Blindtext.</p>               
		          <a href="#">Weiter lesen...</a>
		          <div class="clear"></div>
		        </div>        
	        
		        <!-- 1-spaltig ohne Bild -->
		        <h3>1-spaltig ohne Bild</h3>
		        <div class="divContentItem">
		          <h2><a href="#">Blind von Geburt an</a></h2>          
		          <p>Ich bin Blindtext. Von Geburt an. Es hat lange gedauert, bis ich begriffen habe, was es bedeutet, ein blinder Text zu sein: Man macht keinen Sinn. 
		          Man wirkt hier und da aus dem Zusammenhang gerissen. Oft wird man gar nicht erst gelesen. Aber bin ich deshalb ein schlechter Text? 
		          Ich weiss, dass ich nie die Chance haben werde, im Stern zu erscheinen. Aber bin ich darum weniger wichtig? Ich bin blind! 
		          Aber ich bin gerne Text.</p>               
		          <a href="#">Weiter lesen...</a>
		          <div class="clear"></div>
		        </div>
	        
		        <!-- 2-spaltig mit Bild -->
		        <h3>2-spaltig mit Bild</h3>
		        <div class="divColContainer">
		          <div class="divColItem left pright20">
		            <h2><a href="#">Inhaltsleer </a></h2>
		            <div class="divImgLeft"><a href="#"><img title="Inhaltsleer " alt="Inhaltsleer " src="/website/themes/default/images/tmp/blank80x80.gif"/></a></div>
		            <p>Streng dem definierten Wesen des Blindtextes folgend, fungiere ich als solcher und gebe mich unverbindlich inhaltsleer. 
		            In bedrückender Enge in vorgefertigte Masken gepresst friste ich ein freudloses Dasein auf dem schmalen Grat zwischen Nichtbeachtung und 
		            Bedeutungslosigkeit und habe doch eine Bitte: Handeln Sie Sinn stiftend für meine Existenz und lesen Sie mich.</p>
		            <a href="#">Weiter lesen...</a>
		          </div>
		          <div class="divColItem left">
		            <h2><a href="#">Schuhmacher / Sch&uuml;tze</a></h2>    
		            <div class="divImgLeft"><a href="#"><img title="Schuhmacher und Sch&uuml;tze" alt="Schuhmacher und Sch&uuml;tze" src="/website/themes/default/images/tmp/blank80x80.gif"/></a></div>                    
		            <p>Ein Holzschuh-macher und ein Bogenschütze mit Brot- bzw. Wassersack durchschritten eine Saccharose-Pfütze. 
		            Zwar war sie gottlos, aber zäh wie Lack. Der Schütze sprach: "Wir müssen sie entwässern. Nur so wird sie zu gutem Scheuersand. 
		            Jedoch kann ich sie schwerlich trockenbessern.</p>
		            <a href="#">Weiter lesen...</a>
		          </div>
		          <div class="clear"></div>                              
		        </div>
	       
		        <!-- 2-spaltig ohne Bild -->
		        <h3>2-spaltig ohne Bild</h3>
		        <div class="divColContainer">
		          <div class="divColItem left pright20">
		            <h2><a href="#">Lieber Onkel Reinhard - Brief an ein Idol</a></h2>            
		            <p>Lieber Onkel Reinhard, schon lange wollte ich Dir sagen, dass ich Dich für einen ganz tollen Texter halte. 
		            Ich weiss, Du hörst sehr gerne Lob, und deshalb kann man nicht oft genug sagen, dass Du der Grösste bist. 
		            Gerade in Deinem Alter ist man ja gesegnet, wenn man noch so witzig schreiben kann wie Du.</p>
		            <a href="#">Weiter lesen...</a>
		          </div>
		          <div class="divColItem left">
		            <h2><a href="#">Evolution des Wortes</a></h2>                   
		            <p>Durch mich gebiert das Netz die Kunst aus sich selbst heraus. Nicht schlicht reproduktiver Natur, 
		            repräsentiere ich vielmehr die kontinuierliche Evolution des Wortes, das sich Bahn brechen will aus der Gefangenschaft gestalterischer 
		            Experimente in die Freiheit des öffentlichen Raums.</p>
		            <a href="#">Weiter lesen...</a>
		          </div>
		          <div class="clear"></div>                              
		        </div>
	        
		        <!-- Liste mit Bild -->
		        <h3>Liste mit Bild</h3>
		        <div class="divListContainer">
		          <div class="divListItemImg">
			          <div class="divListItemImgLeft">
			            <a href="#"><img title="Lorem ipsum dolor" alt="Lorem ipsum dolor" src="/website/themes/default/images/tmp/blank40x40.gif"/></a>
			          </div>
			          <div class="divListItemImgRight">
			            <a href="#">Lorem ipsum dolor</a>
			          </div>
			          <div class="clear"></div>
			        </div>
			        <div class="divListItemImg">
		            <div class="divListItemImgLeft">
		              <a href="#"><img title="Der Blindtext-Fall" alt="Der Blindtext-Fall" src="/website/themes/default/images/tmp/blank40x40.gif"/></a>
		            </div>
		            <div class="divListItemImgRight">
		              <a href="#">Der Blindtext-Fall</a>
		            </div>
		            <div class="clear"></div>
		          </div>
		          <div class="divListItemImg">
		            <div class="divListItemImgLeft">
		              <a href="#"><img title="Lieber Onkel Reinhard - Brief an ein Idol" alt="Lieber Onkel Reinhard - Brief an ein Idol" src="/website/themes/default/images/tmp/blank40x40.gif"/></a>
		            </div>
		            <div class="divListItemImgRight">
		              <a href="#">Lieber Onkel Reinhard - Brief an ein Idol</a>
		            </div>
		            <div class="clear"></div>
		          </div>
		        </div>        
	        
		        <!-- Liste ohne Bild -->
		        <h3>Liste ohne Bild</h3>
		        <div class="divListContainer">
		          <div class="divListItem">
		            <div class="divListItemTitle">
		              <a href="#">Lorem ipsum dolor</a>
		            </div>
		            <div class="clear"></div>
		          </div>
		          <div class="divListItem">
		            <div class="divListItemTitle">
		              <a href="#">Der Blindtext-Fall</a>
		            </div>
		            <div class="clear"></div>
		          </div>
		          <div class="divListItem">
		            <div class="divListItemTitle">
		              <a href="#">Lieber Onkel Reinhard - Brief an ein Idol</a>
		            </div>
		            <div class="clear"></div>
		          </div>
		        </div>
		        <div class="clear"></div>
		      </div>
		      
		      <!-- Content Sidebar -->
		      <div class="divContentSidebar">
		        <!-- Contact -->
		        <div class="divContactContainer">
              <h3>Ihr Ansprechpartner</h3>
              <p>Haben Sie Fragen zu diesem Artikel? Wir freuen uns von ihnen zu h&ouml;ren. Ihre Kontaktperson ist:</p>
              <div class="divContactPerson">
                <div class="divContactName">Mag. Vorname Nachname</div>
                <div class="divContactFunc">Funktion/Position</div>
                <div class="divContactDetail">
                  <div class="divContactImg"><img title="Vorname Nachname" alt="Vorname Nachname" src="/website/themes/default/images/contact_default.gif"/></div>
                  <div class="divContactInfos">
                    T +43 (0) 5574 / 12 34 5-0<br/>
                    F +43 (0) 5574 / 12 34 5-100<br/>
                    M +43 (0) 699 / 12 34 567<br/>
                    <a href="mailto:#">E-Mail senden</a>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </div>
              
              <div class="clear"></div>
            </div>
                       
            <div class="clear"></div>
		      </div>
	        
	        <div class="clear"></div>        
        </div>
        <!-- @end main content -->
        
        <div class="clear"></div>
      </div>  
    </div>
  </div>
  <!-- Footer Section -->
  <div class="wrapper footer">
    <div class="subwrapper">
      <div class="inner">
        <div class="divFooterLeft">&copy; 2009 Firmenname</div>
	      <div class="divFooterRight">
	        <ul>
	          <li><a href="#">Links</a></li>
	          <li><a href="#">Kontakt</a></li>
	          <li><a href="#">Impressum</a></li>
	        </ul>
	      </div>
	      <div class="clear"></div>
      </div>      
    </div>
  </div>
  
  <!-- Grid 12 -->
  <div id="divGrid12" style="display:none;">
    <div class="grid" style="left:0;">&nbsp;</div>
    <div class="grid" style="left:80px;">&nbsp;</div>
    <div class="grid" style="left:160px;">&nbsp;</div>
    <div class="grid" style="left:240px;;">&nbsp;</div>
    <div class="grid" style="left:320px;;">&nbsp;</div>
    <div class="grid" style="left:400px;">&nbsp;</div>
    <div class="grid" style="left:480px;">&nbsp;</div>
    <div class="grid" style="left:560px;">&nbsp;</div>
    <div class="grid" style="left:640px;">&nbsp;</div>
    <div class="grid" style="left:720px;">&nbsp;</div>
    <div class="grid" style="left:800px;">&nbsp;</div>
    <div class="grid" style="left:880px;">&nbsp;</div>
  </div>
</body>
</html>